$bg-color: #f4f4f4;

$tab-color: rgba(0,0,0,.6);
$tab-active-color: #31c27c;

$text-active-color: #31c27c;
$text-color: #777777;
$text-color-light: #000000;
$text-color-lighter: #999999;

$border-color: #dddddd;
$border-radius: 4px;